<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Search</h1>
    <form method="POST" action="/tracker">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search" required>
        <button type="submit">Submit</button>
    </form>

    <div id="suggestions" class="suggestions" style="display: none;"></div>

    <p>{{ search_result }}</p>

    <a href="{{ url_for('views.index') }}">Back to Home</a>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>